<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="EnvironmentInitAdapterAssemblyQualifiedTypeName" value="Microsoft.Office.Web.Common.RequestPipe.AppServerHostEnvironmentInitAdapter, Microsoft.Office.Web.Common, Version=16.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"/>
		<add key="LogAdapterAssemblyQualifiedTypeName" value="Microsoft.Office.Web.Common.RequestPipe.AppServerHostLogAdapter, Microsoft.Office.Web.Common, Version=16.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"/>
		<add key="AssertAdapterAssemblyQualifiedTypeName" value="Microsoft.Office.Web.Common.RequestPipe.AppServerHostLogAdapter, Microsoft.Office.Web.Common, Version=16.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c"/>
	</appSettings>
	<system.serviceModel>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
		<services>
			<service name="Microsoft.Office.Web.Conversion.Framework.Remoting.AppChannelService" behaviorConfiguration="AppChannelServiceBehavior">
				<endpoint address="" binding="netNamedPipeBinding" bindingConfiguration="LocalNamedPipeBinding" contract="Microsoft.Office.Web.Conversion.Framework.Remoting.IAppChannelService"/>
			</service>
			<service name="BinaryHttpRenderingService" behaviorConfiguration="RenderingServiceBehavior">
				<endpoint address="" binding="customBinding" bindingConfiguration="binaryHttpBinding" name="BinaryHttpRenderingService" contract="Microsoft.Office.Web.Conversion.Framework.Remoting.IConvertingService"/>
			</service>
			<service name="Microsoft.Office.Web.Conversion.Viewing.RenderingService" behaviorConfiguration="RenderingServiceBehavior">
				<endpoint address="" binding="customBinding" bindingConfiguration="binaryHttpBinding" name="BinaryHttpRenderingService" contract="Microsoft.Office.Web.Conversion.Framework.Remoting.IConvertingService"/>
				<endpoint address="" binding="customBinding" bindingConfiguration="binaryHttpBinding" name="BinaryHttpRenderingServiceHealth" contract="Microsoft.Office.Web.Common.IServiceHealthProvider"/>
			</service>
		</services>
		<bindings>
			<netNamedPipeBinding>
				<binding name="LocalNamedPipeBinding" hostNameComparisonMode="Exact" sendTimeout="Infinite" receiveTimeout="Infinite" maxReceivedMessageSize="20480" maxConnections="10">
					<readerQuotas maxDepth="16" maxStringContentLength="2048" maxArrayLength="1000"/>
					<security mode="None"/>
				</binding>
			</netNamedPipeBinding>
			<customBinding>
				<binding name="binaryHttpBinding" sendTimeout="Infinite" receiveTimeout="Infinite">
					<binaryMessageEncoding>
						<readerQuotas maxArrayLength="104857600"/>
					</binaryMessageEncoding>
					<httpTransport maxReceivedMessageSize="104857600" bypassProxyOnLocal="true" maxBufferSize="104857600"/>
				</binding>
			</customBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="RenderingServiceBehavior">
					<serviceThrottling maxConcurrentCalls="1000" maxConcurrentSessions="1000"/>
				</behavior>
				<behavior name="AppChannelServiceBehavior">
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior name="AppChannelServiceBehavior">
				</behavior>
				<behavior name="RenderingServiceBehavior">
				</behavior>
			</endpointBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>
